<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1c47a8d9-43a9-45f2-bc86-dcbfec64e4c5</ProjectGuid>
    <SelfContained>false</SelfContained>
	<MSDeployServiceURL>https://api.biofx.com.ec:8172/msdeploy.axd</MSDeployServiceURL>	
    <DeployIisAppPath>BioFXAPI</DeployIisAppPath>
	<RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup> <!-- -->
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline> <!-- -->
    <UserName>deployuser</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
  </PropertyGroup>
</Project>